version: "3.9"

services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: ./MainApplication/Dockerfile
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - mqtt
      - mongo
    environment:
      - Mqtt__Host=mqtt
      - Mqtt__Port=1883
      - Mongo__ConnectionString=mongodb://mongo:27017
      - Mongo__Database=sensorsDb
      - Mongo__Collection=readings
      - Backend__BaseUrl=http://localhost:5000/

  datagenerator:
    build:
      context: .
      dockerfile: ./DataGenerator/Dockerfile
    container_name: datagenerator
    depends_on:
      - mqtt
    environment:
      - Mqtt__Host=mqtt
      - Mqtt__Port=1883

volumes:
  mongo_data:
